<div class="home-callout text-center container-fluid">
  <h1>Bottomless Brunch</h1>
  <h4>Because brunch is better bottomless.</h3>
</div>
<!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://www.calleochonyc.com/wp-content/uploads/2016/03/Sangrias-in-a-line-1-CR-2000x925.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Take your pants off</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://static5.businessinsider.com/image/52656da869bedd7c2bbaa398/heres-what-happens-at-the-infamous-lavo-brunch-where-people-dance-on-tables-in-the-middle-of-the-day.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Get on the floor</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('https://cafemedinyc.com/restaurant/wp-content/uploads/2016/09/File_004-7-1918x1280.jpeg');"></div>
                <div class="carousel-caption">
                    <h2>Everybody do the Dinosaur</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

      <!-- Script to Activate the Carousel -->
          <script>
          $('.carousel').carousel({
              interval: 7000 //changes the speed
          })
          </script>

    </header>
    
    
    
<div class="container home-signup-links">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Your Profile</h2>
          <% if current_user.profile %>
          <%= link_to "Edit your profile", "#", class: 'btn btn-default btn-lg btn-block' %>
          <<%= link_to "View your profile", user_path(id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% else %>
            <p>Create your profile so you can share your information with the community</p>
            <%= link_to "Create your profile", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">The Community</h2>
          <p>Visit the community to meet other devlopers, entrepreneurs and investors!</p>
          <%= link_to "Visit the community", users_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    <% else %>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Sign up</h2>
          <h4 class="text-center">Sign up for free and get basic access to the community.</h4>
          <br>
          <%= link_to "Sign up", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h2 class="text-center">Restaurant</h2>
          <h4 class="text-center">Are you a restaurant owner?  Sign up for $50/month to advertise on the site</h4>
          <%= link_to "Restaurant", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
  
  <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
</div>

